@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-white text-pelangi-abu-gelap antialiased;
    font-family: var(--font-nunito);
    padding: 0;
    margin: 0;
  }
}